/* 전체 컨테이너 스타일 */
.auth-container {
    font-family: 'Malgun Gothic', sans-serif; /* 맑은 고딕 폰트 적용 */
    width: 80%; /* 화면 너비의 80%로 설정 */
    max-width: 400px; /* 최대 너비를 400px로 설정 */
    position: absolute; /* 절대 위치로 설정 */
    top: 50%; /* 화면의 중앙 세로 위치 */
    left: 50%; /* 화면의 중앙 가로 위치 */
    transform: translate(-50%, -50%); /* 가운데 정렬을 위한 변형 */
    padding: 20px;
}

/* 로그인 버튼 스타일 */
.auth-container button[type="submit"] {
    display: block; /* 블록 요소로 설정 */
    width: 97%; /* 버튼 너비 전체로 설정 */
    padding: 10px; /* 버튼 안쪽 여백 */
    margin-top: 20px; /* 버튼 위 마진 */
    margin-right: auto; /* 왼쪽 여백을 자동으로 설정하여 오른쪽에 배치 */
}

/* 회원가입 텍스트 스타일 */
.auth-container .signup-text {
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-top: 20px; /* 위 마진 */
}

form {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #cccccc; /* 입력 필드 테두리를 회색으로 설정 */
}

button {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #808080; /* 버튼을 회색으로 설정 */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
