<!doctype html>
<html data-bs-theme="auto" lang="en"
      layout:decorate="~{layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- 본문 시작 -->
<div layout:fragment="content">
    <nav>
        <link href="/blog/login.css" rel="stylesheet">
    </nav>
    <div class="form">
        <div class="form-panel one">
            <div class="form-header" style="text-align: center;">
                <h1 style="color: #1A1E27;">Mypage Info
                    <hr>
                </h1>
            </div>
            <div class="form-content">
                <form action="/users/update" method="post">

                    <!-- 비밀번호 불일치 에러 메시지 출력 -->
<!--                    <div th:if="${passwordError}" class="alert alert-danger" role="alert">-->
<!--                        <span th:text="${passwordError}"></span>-->
<!--                    </div>-->

                    <div class="form-group">
                        <label for="id">User ID</label>
                        <input id="id" name="id" readonly th:value="${loginInfo} ?: '정보 없음'" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="name">name</label>
                        <input id="name" name="name" readonly th:value="${nameInfo} ?: '정보 없음'" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="pw">Password</label>
                        <input id="pw" name="pw" type="password"/>
                    </div>
                    <div class="form-group">
                        <label for="cpw">Confirm Password</label>
                        <input id="cpw" name="cpw" type="password"/>
                    </div>

                    <hr>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="politics" name="politics" th:checked="${userInterests.politics}"
                       type="checkbox"
                       value="정치">
                <label class="form-check-label" for="politics">정치</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="economy" name="economy" th:checked="${userInterests.economy}"
                       type="checkbox"
                       value="경제">
                <label class="form-check-label" for="economy">경제</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="society" name="society" th:checked="${userInterests.society}"
                       type="checkbox"
                       value="사회">
                <label class="form-check-label" for="society">사회</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="lifestyleCulture" name="lifestyleCulture"
                       th:checked="${userInterests.lifestyleCulture}"
                       type="checkbox" value="생활/문화">
                <label class="form-check-label" for="lifestyleCulture">생활/문화</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="it" name="it" th:checked="${userInterests.it}" type="checkbox"
                       value="IT/과학">
                <label class="form-check-label" for="it">IT/과학</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="world" name="world" th:checked="${userInterests.world}"
                       type="checkbox"
                       value="세계">
                <label class="form-check-label" for="world">세계</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="stock" name="stock" th:checked="${userInterests.stock}"
                       type="checkbox"
                       value="주식">
                <label class="form-check-label" for="stock">주식</label>
            </div>
            <hr>

            <!-- 정보 수정 -->
            <div class="form-group">
                <button type="submit">edit Info</button>
            </div>

            </form>

            <!-- 회원 탈퇴 -->
            <form action="/users/delete" class="form-group" method="post">
                <button type="submit">delete Info</button>
            </form>

        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

</div>
</html>
