<!doctype html>
<html data-bs-theme="dark" lang="en"
      layout:decorate="~{layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<!-- 본문 시작 -->
<div layout:fragment="content">
    <main class="main-container">
        <div class="p-4  mb-4 rounded text-body-emphasis bg-body-secondary d-flex justify-content-between flex-wrap">
            <div style="width: 19%;">
                <div style="text-align: center;">
                    <p1 style="font-family: 'spoqaB', sans-serif; color: white;">0월 00일 (요) 00:00<br>속보 요약<br><br></p1>
                </div>
                <p1 style="font-family: 'spoqaR', sans-serif; color: white;">01:05 - 연준의 메스터: 연준이 올해 말에 금리를 인하할 수 있다고
                    예상한다.<br></p1>
                <p1 style="font-family: 'spoqaR', sans-serif; color: white;">01:07 - 연준의 메스터: 이전의 2.5%에 비해 3%로 더 긴 런 펀드
                    금리를 본다.<br></p1>
                <p1 style="font-family: 'spoqaR', sans-serif; color: white;">01:07 - 연준의 메스터: 성장 전망 수정, 올해 2%를 약간 웃도는
                    활동.<br></p1>
                <p1 style="font-family: 'spoqaR', sans-serif; color: white;">01:45 - 연준의 메스터: 고용 증가 둔화 예상 실업률 '약간
                    상승'<br></p1>
            </div>
            <div style="width: 1%"></div>
            <div style="width: 30%;">
                <!-- 왼쪽 컨텐츠 -->
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/"
                                                                 rel="noopener nofollow" target="_blank"><span
                            class="blue-text">Track all markets on TradingView</span></a></div>
                    <script async
                            src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" type="text/javascript">
                        {
                            "width"
                        :
                            "100%",
                                "height"
                        :
                            "180",
                                "symbol"
                        :
                            "NASDAQ:QQQ",
                                "interval"
                        :
                            "5",
                                "timezone"
                        :
                            "Etc/UTC",
                                "theme"
                        :
                            "dark",
                                "style"
                        :
                            "1",
                                "locale"
                        :
                            "en",
                                "enable_publishing"
                        :
                            false,
                                "hide_top_toolbar"
                        :
                            true,
                                "allow_symbol_change"
                        :
                            false,
                                "calendar"
                        :
                            false,
                                "hide_volume"
                        :
                            true,
                                "support_host"
                        :
                            "https://www.tradingview.com"
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/"
                                                                 rel="noopener nofollow" target="_blank"><span
                            class="blue-text">Track all markets on TradingView</span></a></div>
                    <script async
                            src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" type="text/javascript">
                        {
                            "width"
                        :
                            "100%",
                                "height"
                        :
                            "180",
                                "symbol"
                        :
                            "NASDAQ:IEF",
                                "interval"
                        :
                            "5",
                                "timezone"
                        :
                            "Etc/UTC",
                                "theme"
                        :
                            "dark",
                                "style"
                        :
                            "1",
                                "locale"
                        :
                            "en",
                                "enable_publishing"
                        :
                            false,
                                "hide_top_toolbar"
                        :
                            true,
                                "allow_symbol_change"
                        :
                            false,
                                "calendar"
                        :
                            false,
                                "hide_volume"
                        :
                            true,
                                "support_host"
                        :
                            "https://www.tradingview.com"
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->

                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/"
                                                                 rel="noopener nofollow" target="_blank"><span
                            class="blue-text">Track all markets on TradingView</span></a></div>
                    <script async
                            src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" type="text/javascript">
                        {
                            "width"
                        :
                            "100%",
                                "height"
                        :
                            "180",
                                "symbol"
                        :
                            "AMEX:UUP",
                                "interval"
                        :
                            "5",
                                "timezone"
                        :
                            "Etc/UTC",
                                "theme"
                        :
                            "dark",
                                "style"
                        :
                            "1",
                                "locale"
                        :
                            "en",
                                "enable_publishing"
                        :
                            false,
                                "hide_top_toolbar"
                        :
                            true,
                                "allow_symbol_change"
                        :
                            false,
                                "calendar"
                        :
                            false,
                                "hide_volume"
                        :
                            true,
                                "support_host"
                        :
                            "https://www.tradingview.com"
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->

                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/"
                                                                 rel="noopener nofollow" target="_blank"><span
                            class="blue-text">Track all markets on TradingView</span></a></div>
                    <script async
                            src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" type="text/javascript">
                        {
                            "width"
                        :
                            "100%",
                                "height"
                        :
                            "180",
                                "symbol"
                        :
                            "NYMEX:CL1!",
                                "interval"
                        :
                            "5",
                                "timezone"
                        :
                            "Etc/UTC",
                                "theme"
                        :
                            "dark",
                                "style"
                        :
                            "1",
                                "locale"
                        :
                            "en",
                                "enable_publishing"
                        :
                            false,
                                "hide_top_toolbar"
                        :
                            true,
                                "allow_symbol_change"
                        :
                            false,
                                "calendar"
                        :
                            false,
                                "hide_volume"
                        :
                            true,
                                "support_host"
                        :
                            "https://www.tradingview.com"
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->

            </div>
            <div style="width: 30%;">
                <!-- 오른쪽 컨텐츠 -->
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/"
                                                                 rel="noopener nofollow" target="_blank"><span
                            class="blue-text">Track all markets on TradingView</span></a></div>
                    <script async
                            src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" type="text/javascript">
                        {
                            "width"
                        :
                            "100%",
                                "height"
                        :
                            "180",
                                "symbol"
                        :
                            "AMEX:SPY",
                                "interval"
                        :
                            "D",
                                "timezone"
                        :
                            "Etc/UTC",
                                "theme"
                        :
                            "dark",
                                "style"
                        :
                            "1",
                                "locale"
                        :
                            "en",
                                "enable_publishing"
                        :
                            false,
                                "hide_top_toolbar"
                        :
                            true,
                                "allow_symbol_change"
                        :
                            false,
                                "calendar"
                        :
                            false,
                                "hide_volume"
                        :
                            true,
                                "support_host"
                        :
                            "https://www.tradingview.com"
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/"
                                                                 rel="noopener nofollow" target="_blank"><span
                            class="blue-text">Track all markets on TradingView</span></a></div>
                    <script async
                            src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" type="text/javascript">
                        {
                            "width"
                        :
                            "100%",
                                "height"
                        :
                            "180",
                                "symbol"
                        :
                            "NASDAQ:SHY",
                                "interval"
                        :
                            "5",
                                "timezone"
                        :
                            "Etc/UTC",
                                "theme"
                        :
                            "dark",
                                "style"
                        :
                            "1",
                                "locale"
                        :
                            "en",
                                "enable_publishing"
                        :
                            false,
                                "hide_top_toolbar"
                        :
                            true,
                                "allow_symbol_change"
                        :
                            false,
                                "calendar"
                        :
                            false,
                                "hide_volume"
                        :
                            true,
                                "support_host"
                        :
                            "https://www.tradingview.com"
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->

                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/"
                                                                 rel="noopener nofollow" target="_blank"><span
                            class="blue-text">Track all markets on TradingView</span></a></div>
                    <script async
                            src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" type="text/javascript">
                        {
                            "width"
                        :
                            "100%",
                                "height"
                        :
                            "180",
                                "symbol"
                        :
                            "BINANCE:BTCUSD",
                                "interval"
                        :
                            "5",
                                "timezone"
                        :
                            "Etc/UTC",
                                "theme"
                        :
                            "dark",
                                "style"
                        :
                            "1",
                                "locale"
                        :
                            "en",
                                "enable_publishing"
                        :
                            false,
                                "hide_top_toolbar"
                        :
                            true,
                                "allow_symbol_change"
                        :
                            false,
                                "calendar"
                        :
                            false,
                                "hide_volume"
                        :
                            true,
                                "support_host"
                        :
                            "https://www.tradingview.com"
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->

                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/"
                                                                 rel="noopener nofollow" target="_blank"><span
                            class="blue-text">Track all markets on TradingView</span></a></div>
                    <script async
                            src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" type="text/javascript">
                        {
                            "width"
                        :
                            "100%",
                                "height"
                        :
                            "180",
                                "symbol"
                        :
                            "COMEX:GC1!",
                                "interval"
                        :
                            "5",
                                "timezone"
                        :
                            "Etc/UTC",
                                "theme"
                        :
                            "dark",
                                "style"
                        :
                            "1",
                                "locale"
                        :
                            "en",
                                "enable_publishing"
                        :
                            false,
                                "hide_top_toolbar"
                        :
                            true,
                                "allow_symbol_change"
                        :
                            false,
                                "calendar"
                        :
                            false,
                                "hide_volume"
                        :
                            true,
                                "support_host"
                        :
                            "https://www.tradingview.com"
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->

            </div>
            <div style="width: 1%"></div>
            <div style="width: 19%;">
                <div style="text-align: center;">
                    <p1 style="font-family: 'spoqaB', sans-serif; ">2024년 0월 00일 0요일<br>경제 주요 일정<br><br></p1>
                </div>
                <p1 style="font-family: 'spoqaR', sans-serif;">01:00 FOMC 멤버 Williams가 연설<br></p1>
                <p1 style="font-family: 'spoqaR', sans-serif;">01:05 연방공개시장위원회 위원 메스터 연설<br></p1>
                <p1 style="font-family: 'spoqaR', sans-serif;">05:30 미국석유협회 주간 원유 재고<br></p1>
                <p1 style="font-family: 'spoqaR', sans-serif;">18:15 OPEC 회의<br></p1>
                <p1 style="font-family: 'spoqaR', sans-serif;">20:00 모기지은행협회 30년 모기지금리<br></p1>
                <p1 style="font-family: 'spoqaR', sans-serif;">20:00 MBA 구매지수<br></p1>
                <p1 style="font-family: 'spoqaR', sans-serif;">20:00 모기지 재융자지수<br></p1>
                <p1 style="font-family: 'spoqaR', sans-serif;">21:15 ADP 비농업부문 고용 변화<br></p1>
            </div>
        </div>
    </main>
    <main class="container">
        <div class="p-4 p-md-4 mb-4 rounded text-body-emphasis bg-body-secondary d-flex justify-content-between flex-wrap">
            <img alt="섬네일" src="https://publish.finviz.com/041724/sec_d1_150971262.png" style="width: 100%;">
        </div>
    </main>


    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
        <p class="mb-0">
            <a href="#">Back to top</a>
        </p>
    </footer>
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
</div>
</html>
