<!doctype html>
<html data-bs-theme="auto" lang="en"
      layout:decorate="~{layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- 본문 시작 -->
<div layout:fragment="content">

    <div class="form">
        <div class="form-panel one">
            <div class="form-header">
                <h1 style="font-family: 'spoqaM', sans-serif; color: #1A1E27;">" "에 대한 검색 결과입니다.</h1>
            </div>
            <div class="form-content">
                <form>
                    <div class="form-group">
                        <label for="Search"></label>
                        <input id="Search" name="Search" required="required" type="text"/>
                    </div>
                    <div class="form-group">
                        <button type="submit">Search</button>
                    </div>

                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary-emphasis">검색1</strong>
                                <h3 class="mb-0">Featured post</h3>
                                <div class="mb-1 text-body-secondary">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a
                                    natural lead-in to additional content.</p>
                                <a class="icon-link gap-1 icon-link-hover stretched-link" href="#">
                                    Continue reading
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto">
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                                     height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Placeholder</title>
                                    <rect fill="#55595c" height="100%" width="100%"/>
                                    <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary-emphasis">검색2</strong>
                                <h3 class="mb-0">Featured post</h3>
                                <div class="mb-1 text-body-secondary">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a
                                    natural lead-in to additional content.</p>
                                <a class="icon-link gap-1 icon-link-hover stretched-link" href="#">
                                    Continue reading
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto">
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                                     height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Placeholder</title>
                                    <rect fill="#55595c" height="100%" width="100%"/>
                                    <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary-emphasis">검색3</strong>
                                <h3 class="mb-0">Featured post</h3>
                                <div class="mb-1 text-body-secondary">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a
                                    natural lead-in to additional content.</p>
                                <a class="icon-link gap-1 icon-link-hover stretched-link" href="#">
                                    Continue reading
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto">
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                                     height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Placeholder</title>
                                    <rect fill="#55595c" height="100%" width="100%"/>
                                    <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary-emphasis">검색4</strong>
                                <h3 class="mb-0">Featured post</h3>
                                <div class="mb-1 text-body-secondary">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a
                                    natural lead-in to additional content.</p>
                                <a class="icon-link gap-1 icon-link-hover stretched-link" href="#">
                                    Continue reading
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto">
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                                     height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Placeholder</title>
                                    <rect fill="#55595c" height="100%" width="100%"/>
                                    <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary-emphasis">검색5</strong>
                                <h3 class="mb-0">Featured post</h3>
                                <div class="mb-1 text-body-secondary">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a
                                    natural lead-in to additional content.</p>
                                <a class="icon-link gap-1 icon-link-hover stretched-link" href="#">
                                    Continue reading
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto">
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                                     height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Placeholder</title>
                                    <rect fill="#55595c" height="100%" width="100%"/>
                                    <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary-emphasis">검색6</strong>
                                <h3 class="mb-0">Featured post</h3>
                                <div class="mb-1 text-body-secondary">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a
                                    natural lead-in to additional content.</p>
                                <a class="icon-link gap-1 icon-link-hover stretched-link" href="#">
                                    Continue reading
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto">
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                                     height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Placeholder</title>
                                    <rect fill="#55595c" height="100%" width="100%"/>
                                    <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary-emphasis">검색7</strong>
                                <h3 class="mb-0">Featured post</h3>
                                <div class="mb-1 text-body-secondary">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a
                                    natural lead-in to additional content.</p>
                                <a class="icon-link gap-1 icon-link-hover stretched-link" href="#">
                                    Continue reading
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto">
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                                     height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Placeholder</title>
                                    <rect fill="#55595c" height="100%" width="100%"/>
                                    <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary-emphasis">검색8</strong>
                                <h3 class="mb-0">Featured post</h3>
                                <div class="mb-1 text-body-secondary">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a
                                    natural lead-in to additional content.</p>
                                <a class="icon-link gap-1 icon-link-hover stretched-link" href="#">
                                    Continue reading
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto">
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                                     height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Placeholder</title>
                                    <rect fill="#55595c" height="100%" width="100%"/>
                                    <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button style="float: left; width: 250px; height: 50px;" type="submit">Previous page</button>
                        <input readonly style="width: 100px; height: 50px; text-align: center;" type="text" value="">
                        <button style="float: right; width: 250px; height: 50px;" type="submit">Next page</button>
                    </div>


                </form>
            </div>
        </div>
    </div>

</div>

</html>
